{% extends 'base.html' %}

{% block body %}
    {{  }}
{% endblock %}






<!--   var list............ 
date, customer_id
name,
email, 
customer_name,
product_id,
product_name,
price,
product_id,
quantity_sold,
sold,
total_price -->

<!-- def invoice_printer():
      date=invoices[x]['date']
      invoiced_customer_id=invoices[x]['customer_id']
      customer_name=customers[invoiced_customer_id]['name']
      customer_email=customers[invoiced_customer_id]['email']
      overall_price=0
      print(CGREEN + f"Customer report for _{customer_name}_ regarding invoice #_{x}_ on {date} "+ CEND )
      for y in itemsold: 
            if (itemsold[y]['invoice_id'])==x:
                  product_dict=itemsold[y]['product_id']
                  product_name=productlist[product_dict]['product_name']
                  price=productlist[product_dict]['price']
                  # print(itemsold[y]['product_id'])
                  sold=itemsold[y]['quantity_sold']
                  total_price=round(sold*price,2)
                  overall_price+=total_price
                  print(f"Product:  {product_name} Quantity:  {sold} Price per unit:  ${price} Total Price:  ${total_price} ")
      print(CRED + f"Total invoice pricing is: ${round(overall_price,2)}"+ CEND) -->