{% extends 'base.html' %}

{% block body %}
    <table>
        <tr>
            <th>customer_id</th>
            <th>name</th>
            <th>address</th>
            <th>email</th>
        </tr>
        {% for rownum,item in customer.items() %}
        <tr>
            <td>{{ rownum }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['address'] }}</td>
            <td>{{ item['email'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}